* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
}

.container {
  width: $max-screen-size;
  margin: 0 auto;
  padding: 40px 10px;
}

.header {
  background-color: #daac00;
  height: 10em;
  width: $default-width;

  .header__container {
    @extend .flex-row;
    justify-content: $justify-content-s-a;

    .header__logo {
      width: 15em;

      .logo__img {
        width: $width-100;
      }
    }

    .header__menu {
      @extend .flex-row;
      justify-content: $justify-content-s-b;
      width: 47em;

      .header__nav {
        overflow: hidden;
        padding-top: 15px;

        .nav__list {
          list-style: none;
          margin: 0;
          padding-left: 0;
          display: flex;

          .nav__link {
            color: $color-white;
            text-decoration: none;
            font-weight: 500;
            font-size: 24px;
            display: block;
            padding-right: 30px;

            &:hover {
              transition: opacity 0.1s ease;
              color: #665f60;
              font-size: 28px;
            }
          }
        }
      }
      .header__search-container {
        margin-top: 10px;
        @extend .flex-row;

        input {
          position: $position-r;
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          width: 1%;
          margin-bottom: 0;
          border: none;
          font-size: 17px;
          background-color: #fcc302;
          color: $color-white;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }

      .header__search-container-append {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      .header__search-container__btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 10px 30px;
        margin-left: -1px;
        background: #00bdc9;
        background-image: url("../images/Search\ Button.png");
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        border: none;

        &:active {
          background: #4e859e;
          opacity: 0.5;
        }
      }
    }
  }
}

.first {
  background: #fcc302;
  color: $color-white;

  .first__container {
    @extend .flex-row;
    justify-content: $justify-content-s-a;
    margin: 50px;

    .left-container {
      width: 40em;
      margin-top: 50px;

      .first__title {
        font-size: 45px;
        font-weight: 700;
        padding-bottom: 20px;
      }

      .first__text {
        font-size: 22px;
        padding-bottom: 30px;
      }

      .button {
        color: $color-white;
        background: #fcc302;
        border-radius: 5%;
        text-transform: capitalize;
        width: 10em;
        height: 3em;
        font-size: 20px;
        margin-right: 20px;
        border: 3px solid white;

        &:hover {
          background: #00bec9;
          border: none;
        }
      }
    }
  }
}

.service {
  background: $color-white;

  .service__container {
    @extend .flex-row;
    justify-content: $justify-content-s-b;
    margin: 50px;

    .left-container {
      width: 30em;

      .service__title {
        font-size: 38px;
        font-weight: 700;
        padding-bottom: 20px;
      }

      .service__text {
        font-size: 22px;
        padding-bottom: 30px;
      }

      .button {
        color: $color-white;
        background: #fcc302;
        border-radius: 6%;
        text-transform: capitalize;
        width: 10em;
        height: 3em;
        font-size: 20px;
        margin-right: 20px;
        border: 3px solid white;

        &:hover {
          background: #00bec9;
          border: none;
        }
      }
    }
  }
}

.about {
  background: #fcc302;
  color: $color-white;

  .about__container {
    @extend .flex-column;
    justify-content: center;
    text-align: center;

    .about__content {
      @extend .flex-column;
      margin: 0 auto;

      .about__title {
        font-size: 47px;
        font-weight: 700;
        padding-bottom: 20px;
        text-transform: capitalize;
      }

      .about__text {
        font-size: 22px;
        padding-bottom: 50px;
        width: 15em;
      }
    }

    .about__row-container {
      @extend .flex-row;
      justify-content: $justify-content-s-b;

      .block {
        @extend .flex-column;
        width: 32%;
        justify-content: center;
        justify-items: center;

        .row__img {
          width: 20em;
          margin: 0 auto;
        }

        .block__title {
          font-size: 30px;
          font-weight: 500;
        }

        .block__text {
          font-size: 19px;
        }
      }
    }
  }
}

.team {
  background: $color-white;

  .team__container {
    @extend .flex-column;
    justify-content: center;
    text-align: center;

    .team__content {
      @extend .flex-column;
      text-align: center;

      .team__title {
        font-size: 47px;
        font-weight: 700;
        padding-bottom: 10px;
        text-transform: capitalize;
      }

      .team__text {
        font-size: 22px;
        padding-bottom: 30px;
      }
    }

    .team__row-container {
      @extend .flex-row;
      justify-content: $justify-content-s-b;

      .block {
        @extend .flex-column;
        width: 32%;
        justify-content: center;
        justify-items: center;

        .row__img {
          width: 20em;
          margin: 0 auto;
        }

        .name {
          font-weight: 800;
          text-transform: capitalize;
          font-size: 20px;
          padding-top: 10px;
        }

        .post {
          font-size: 18px;
          text-transform: uppercase;
        }

        .block__social {
          @extend .flex-row;
          justify-content: $justify-content-s-a;
        }

        .block__social a {
          position: relative;
          width: 2.5rem;
          height: 2.5rem;
          transition: background-color 0.3s ease-in-out;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 57%;
          display: block;
          background: #daac00;
        }

        .block__social i {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 6%;
          top: 7%;
        }

        .social__icon-twitter {
          background-image: url("../images/Twitter\ \(1\).svg");
        }
        .social__icon-fb {
          background-image: url("../images/WhatsApp\ \(1\).svg");
        }
        .social__icon-in {
          background-image: url("../images/Instagram\ \(1\).svg");
        }
        .social__icon-wa {
          background-image: url("../images/Facebook\ \(1\).svg");
        }
      }
    }
  }
}

.rollover {
  background-image: url("../images/department.png");
  height: 35em;
  background-repeat: no-repeat;

  &:hover .rollover__back {
    opacity: 0.8;
  }

  .rollover__back {
    background-color: #f3c321;
    width: $width-100;
    height: $height-100;
    opacity: 0;

    .back__row-container {
      @extend .flex-row;
      justify-content: $justify-content-s-b;

      .back {
        @extend .flex-column;
        width: 32%;
        color: $color-white;
        text-align: center;
        margin-top: 150px;

        .quantity {
          font-size: 26px;
          font-weight: 600;
        }

        .back__title {
          text-transform: capitalize;
          font-weight: 700;
          font-size: 28px;
        }
      }
    }
  }
}

.footer {
  background-color: #343434;
  height: 40em;
  color: $color-white;

  .footer__container {
    margin: 70px 50px;
    @extend .flex-row;
    justify-content: $justify-content-s-b;

    .footer__menu {
      width: 50%;
      @extend .flex-row;
      justify-content: $justify-content-s-b;
    }

    .col {
      width: 14em;
    }
    .menu__title {
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 15px;
    }

    .menu__list {
      line-height: 2;

      .list__item {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 20px;
        color: $color-white;
        display: block;
        font-weight: 300;
      }
    }

    .footer__aside {
      .aside__content {
        text-align: right;

        .aside__title {
          font-size: 30px;
          font-weight: 600;
          text-transform: capitalize;
        }

        .aside__text {
          font-size: 20px;
        }
      }

      .footer__send-container {
        margin-top: 40px;
        @extend .flex-row;
        height: 4em;
        width: 26em;

        input {
          position: $position-r;
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;

          margin-bottom: 0;
          border: none;
          font-size: 17px;
          background-color: #fcc302;
          color: $color-white;
        }

        .footer__send-container-append {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }

        .footer__send-container__btn {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 10px 45px;
          margin-left: -1px;
          background: #00bdc9;
          background-image: url("../images/icon\ \(4\).png");
          background-size: 30%;
          background-position: center;
          background-repeat: no-repeat;
          border: none;

          &:active {
            background: #4e859e;
            opacity: 0.5;
          }
        }
      }

      .footer__social {
        margin-top: 25px;
        text-align: right;

        .social__link {
          background: $color-white;
          font-size: 26px;
          border-radius: 48%;
          padding: 0px 8px;
          margin: 0 5px;
          position: relative;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: background-color 0.3s ease-in-out;

          .social__link:hover {
            background: #daac00;
          }
        }

        .social__link_padding {
          background: $color-white;
          font-size: 26px;
          border-radius: 48%;
          padding: 0px 12px;
          margin: 0 5px;
          position: relative;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: background-color 0.3s ease-in-out;
        }

        .social__link_padding:hover {
          background: #daac00;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .block img {
    width: 18em !important;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 18em;
  }

  .header__logo {
    width: 0 !important;
  }

  .header__menu {
    display: flex;
    flex-direction: column !important;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
  }

  .nav__link {
    display: block;
  }

  .header__search-container {
    height: 3rem;
  }

  .footer__container {
    display: block !important;
  }

  .footer__menu {
    width: 100% !important;
  }

  .aside__content {
    margin-top: 10px;
  }

  .footer__send-container {
    margin-top: 0 !important;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .first__container {
    flex-direction: column !important;
  }

  .left-container {
    width: 29em !important;
  }

  .service__container {
    flex-direction: column !important;
  }

  .about__row-container {
    flex-direction: column !important;
  }

  .block {
    width: 100% !important;
  }

  .back__title {
    font-size: 23px !important;
  }
}
