@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.flex-row, .footer .footer__container .footer__aside .footer__send-container, .footer .footer__container .footer__menu, .footer .footer__container, .rollover .rollover__back .back__row-container, .team .team__container .team__row-container .block .block__social, .team .team__container .team__row-container, .about .about__container .about__row-container, .service .service__container, .first .first__container, .header .header__container .header__menu .header__search-container, .header .header__container .header__menu, .header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column, .rollover .rollover__back .back__row-container .back, .team .team__container .team__row-container .block, .team .team__container .team__content, .team .team__container, .about .about__container .about__row-container .block, .about .about__container .about__content, .about .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  min-width: 100vw;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 10px;
}

.header {
  background-color: #daac00;
  height: 10em;
  width: 100vw;
}
.header .header__container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .header__container .header__logo {
  width: 15em;
}
.header .header__container .header__logo .logo__img {
  width: 100%;
}
.header .header__container .header__menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 47em;
}
.header .header__container .header__menu .header__nav {
  overflow: hidden;
  padding-top: 15px;
}
.header .header__container .header__menu .header__nav .nav__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__container .header__menu .header__nav .nav__list .nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  display: block;
  padding-right: 30px;
}
.header .header__container .header__menu .header__nav .nav__list .nav__link:hover {
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  color: #665f60;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.header .header__container .header__menu .header__search-container {
  margin-top: 10px;
}
.header .header__container .header__menu .header__search-container input {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  border: none;
  font-size: 17px;
  background-color: #fcc302;
  color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header .header__container .header__menu .header__search-container-append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__container .header__menu .header__search-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  margin-left: -1px;
  background: #00bdc9;
  background-image: url("../images/Search Button.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.header .header__container .header__menu .header__search-container__btn:active {
  background: #4e859e;
  opacity: 0.5;
}

.first {
  background: #fcc302;
  color: #fff;
}
.first .first__container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px;
}
.first .first__container .left-container {
  width: 40em;
  margin-top: 50px;
}
.first .first__container .left-container .first__title {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 20px;
}
.first .first__container .left-container .first__text {
  font-size: 22px;
  padding-bottom: 30px;
}
.first .first__container .left-container .button {
  color: #fff;
  background: #fcc302;
  border-radius: 5%;
  text-transform: capitalize;
  width: 10em;
  height: 3em;
  font-size: 20px;
  margin-right: 20px;
  border: 3px solid white;
}
.first .first__container .left-container .button:hover {
  background: #00bec9;
  border: none;
  cursor: pointer;
}

.service {
  background: #fff;
}
.service .service__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px;
}
.service .service__container .left-container {
  width: 30em;
}
.service .service__container .left-container .service__title {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 20px;
}
.service .service__container .left-container .service__text {
  font-size: 22px;
  padding-bottom: 30px;
}
.service .service__container .left-container .button {
  color: #fff;
  background: #fcc302;
  border-radius: 6%;
  text-transform: capitalize;
  width: 10em;
  height: 3em;
  font-size: 20px;
  margin-right: 20px;
  border: 3px solid white;
}
.service .service__container .left-container .button:hover {
  background: #00bec9;
  border: none;
  cursor: pointer;
}

.about {
  background: #fcc302;
  color: #fff;
}
.about .about__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.about .about__container .about__content {
  margin: 0 auto;
}
.about .about__container .about__content .about__title {
  font-size: 47px;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: capitalize;
}
.about .about__container .about__content .about__text {
  font-size: 22px;
  padding-bottom: 50px;
  width: 15em;
}
.about .about__container .about__row-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .about__container .about__row-container .block {
  width: 32%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}
.about .about__container .about__row-container .block .row__img {
  width: 20em;
  margin: 0 auto;
}
.about .about__container .about__row-container .block .block__title {
  font-size: 30px;
  font-weight: 500;
}
.about .about__container .about__row-container .block .block__text {
  font-size: 19px;
}

.team {
  background: #fff;
}
.team .team__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.team .team__container .team__content {
  text-align: center;
}
.team .team__container .team__content .team__title {
  font-size: 47px;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.team .team__container .team__content .team__text {
  font-size: 22px;
  padding-bottom: 30px;
}
.team .team__container .team__row-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team .team__container .team__row-container .block {
  width: 32%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}
.team .team__container .team__row-container .block .row__img {
  width: 20em;
  margin: 0 auto;
}
.team .team__container .team__row-container .block .name {
  font-weight: 800;
  text-transform: capitalize;
  font-size: 20px;
  padding-top: 10px;
}
.team .team__container .team__row-container .block .post {
  font-size: 18px;
  text-transform: uppercase;
}
.team .team__container .team__row-container .block .block__social {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.team .team__container .team__row-container .block .block__social a {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 57%;
  display: block;
  background: #daac00;
}
.team .team__container .team__row-container .block .block__social i {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 6%;
  top: 7%;
}
.team .team__container .team__row-container .block .social__icon-twitter {
  background-image: url("../images/Twitter (1).svg");
  background-repeat: no-repeat;
}
.team .team__container .team__row-container .block .social__icon-fb {
  background-image: url("../images/WhatsApp (1).svg");
  background-repeat: no-repeat;
}
.team .team__container .team__row-container .block .social__icon-in {
  background-image: url("../images/Instagram (1).svg");
  background-repeat: no-repeat;
}
.team .team__container .team__row-container .block .social__icon-wa {
  background-image: url("../images/Facebook (1).svg");
  background-repeat: no-repeat;
}

.rollover {
  background-image: url("../images/department.png");
  height: 35em;
  background-repeat: no-repeat;
}
.rollover:hover .rollover__back {
  opacity: 0.8;
}
.rollover .rollover__back {
  background-color: #f3c321;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.rollover .rollover__back .back__row-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rollover .rollover__back .back__row-container .back {
  width: 32%;
  color: #fff;
  text-align: center;
  margin-top: 150px;
}
.rollover .rollover__back .back__row-container .back .quantity {
  font-size: 26px;
  font-weight: 600;
}
.rollover .rollover__back .back__row-container .back .back__title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 28px;
}

.footer {
  background-color: #343434;
  height: 40em;
  color: #fff;
}
.footer .footer__container {
  margin: 70px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__container .footer__menu {
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__container .col {
  width: 14em;
}
.footer .footer__container .menu__title {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 15px;
}
.footer .footer__container .menu__list {
  line-height: 2;
}
.footer .footer__container .menu__list .list__item {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
  display: block;
  font-weight: 300;
}
.footer .footer__container .footer__aside .aside__content {
  text-align: right;
}
.footer .footer__container .footer__aside .aside__content .aside__title {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.footer .footer__container .footer__aside .aside__content .aside__text {
  font-size: 20px;
}
.footer .footer__container .footer__aside .footer__send-container {
  margin-top: 40px;
  height: 4em;
  width: 26em;
}
.footer .footer__container .footer__aside .footer__send-container input {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 0;
  border: none;
  font-size: 17px;
  background-color: #fcc302;
  color: #fff;
}
.footer .footer__container .footer__aside .footer__send-container .footer__send-container-append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__container .footer__aside .footer__send-container .footer__send-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 45px;
  margin-left: -1px;
  background: #00bdc9;
  background-image: url("../images/icon (4).png");
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.footer .footer__container .footer__aside .footer__send-container .footer__send-container__btn:active {
  background: #4e859e;
  opacity: 0.5;
}
.footer .footer__container .footer__aside .footer__social {
  margin-top: 25px;
  text-align: right;
}
.footer .footer__container .footer__aside .footer__social .social__link {
  background: #fff;
  font-size: 26px;
  border-radius: 48%;
  padding: 0px 8px;
  margin: 0 5px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.footer .footer__container .footer__aside .footer__social .social__link .social__link:hover {
  background: #daac00;
}
.footer .footer__container .footer__aside .footer__social .social__link_padding {
  background: #fff;
  font-size: 26px;
  border-radius: 48%;
  padding: 0px 12px;
  margin: 0 5px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.footer .footer__container .footer__aside .footer__social .social__link_padding:hover {
  background: #daac00;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .block img {
    width: 18em !important;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 18em;
  }

  .header__logo {
    width: 0 !important;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav__link {
    display: block;
  }

  .header__search-container {
    height: 3rem;
  }

  .footer__container {
    display: block !important;
  }

  .footer__menu {
    width: 100% !important;
  }

  .aside__content {
    margin-top: 10px;
  }

  .footer__send-container {
    margin-top: 0 !important;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .first__container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  .left-container {
    width: 29em !important;
  }

  .service__container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  .about__row-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  .block {
    width: 100% !important;
  }

  .back__title {
    font-size: 23px !important;
  }
}